/*  --primary-color: #177E89   ;
  --secondary-color: #002500 ;
  --accent1-color: #E1B07E;
*/

body {
    margin: 0;
    background-color: #fff;
}

#content {
    max-width: 1600px;
    text-align: center;
}

header {
    background-color: #177E89;
}

#logo {
    width: 80px;
    margin-top: 40px;
}

nav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
nav a{
    color: #fcfbfb;
    text-decoration: none;
}
nav a:hover {
    background-color: #002500;
}

.book {
    background-color: #177E89;
    color: #fff;
}
.book:hover {
    background-color: #E1B07E;
}

#background {
    height: 725px;
    background-color: #177E89;
}

.msg {
    background-color: #002500;
    color: #fff;
}
.msg a:hover {
    color: #fff;
}

.join {
    background-color: #E1B07E;
}

footer {
    background-color: #002500;
}

footer p {
    font-size: 1.2em;
    color: #fff;
}

footer p a:hover {
    color: #fff;
    text-decoration: underline;
}