p {
    background-color: bisque;
    border: 10px solid rebeccapurple;
    padding: 100px;
    margin: 100px;
    width: 400px;
    margin: 20px auto;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 10px auto;
    width: 400px;
    border: 10px solid black;
    box-sizing: border-box;
}